.product {
    height: 178px;
width: 327px;
max-width: 330px;
border-radius: 30px;

    box-shadow: 0 0.5em 1em -0.125em gray;
    &__descript{
        &--img{
            height: 155px;
            width: 155px;
            
            border-radius: 15px!important;
              
        }
    }
}